.wy-nav-content {
    padding: 1.618em 3.236em;
    height: 100%;
    max-width: 1200px !important;
    margin: auto;
    float: left;
}
.wy-side-nav-search {
    background-color: #041742 !important;
}
.wy-nav-top {
    background: #041742 !important;
}
.wy-body-for-nav {
    background: #fff;
}
